@import "../../styles/variables";
@import "../../styles/mixins";

.authorDiv {
  @include flexy();
  gap: 1em;
  font-weight: bold;
}
.postDiv {
  margin: 1.5em 0;
}
.commentDiv {
  @include flexy();
  gap: 0.5em;
  p {
    font-weight: bold;
  }
}
