@import '../styles/mixins';
@import '../styles/variables';

.button {
  @include font-size($bodyS-font-sizes);
  background: $clr-secondary;
  color: #fff;
  border: none;
  padding: .5rem 1rem;
  border-radius: .8rem;
  &:disabled {
    opacity: .8;
  }
}