@import '../../../styles/mixins';
@import '../../../styles/variables';

button {
  @include font-size($bodyS-font-sizes);
  border: none;
  padding: .5rem 1rem;
  border-radius: .5em;
  color: $clr-body;
  background-color: transparent;
  &:disabled {
    opacity: .6;
  }
}
.login {
  color: #fff;
  background: $clr-primary;
}
.add {
  color: #fff;
  background: $clr-secondary;
  border-radius: 1em;
}
.edit {
  color: $clr-secondary;
  font-weight: bold;
}
.confirm {
  background: $clr-warning;
  color: white;
  margin-top: 1em;
}