@import '../../styles/variables';
@import '../../styles/mixins';

.containerDiv {
  position: fixed;
  background-color: rgba($clr-body, 0.6);
  width: 100%;
  height: 100%;
  z-index: 20;
  left: 0;
  top: 0;
}
.modalDiv {
  @include flexy($algn: center, $just: center, $dir:column);
  gap: 1.5em;
  word-wrap: break-all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.5em 2.5em;
  background: $clr-bg;
  border-radius: 1em;
  max-width: 300px;
}
.span {
  position: absolute;
  right: 0px;
  top: 0px;
  button {
    @include font-size($h3-font-sizes);
  }
}