@import "./variables.scss";
@import "./mixins.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: $clr-body;
}

body {
  background: $clr-bg;
  @include margin-size($body-margins);
}

a {
  color: inherit;
  text-decoration: none;
}
h1 {
  @include font-size($h1-font-sizes);
}
h2 {
  @include font-size($h2-font-sizes);
}
h3 {
  @include font-size($h3-font-sizes);
  font-weight: normal;
}
p {
  @include font-size($bodyS-font-sizes);
  &.small {
    @include font-size($bodyXS-font-sizes);
  }
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.warning {
  color: $clr-warning;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
